node_modules/
dist/
.env
.env.base.sepolia
.env.base.sepolia.private
.env.hashkey.testnet
.env.conflux.testnet
.env.conflux.testnet.private
.env.hashkey.private
.env.local.anvil
.env.*.bak
keys/
*.log
.DS_Store

# Foundry
out/
cache/
broadcast/

lib/*
!lib/README.md
